<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <title>FTSupport - Home</title>
        <link href="/mvcframework/public/css/bootstrap.min.css" rel="stylesheet">
        <link href="/mvcframework/public/css/tablestyles.css" rel="stylesheet">
        <link href="/mvcframework/public/css/pagestyles.css" rel="stylesheet">
    </head>
    <body>
        <div class="container col-lg-10 col-lg-offset-1">
            <div class="row">
                <nav>
                    <ul class="nav nav-pills">
                        <li><a href="/mvcframework/home/">Home</a></li>
                        <li><a href="/mvcframework/clients/viewall/">Klantenlijst</a></li>
                        <li><a href="/mvcframework/sites/viewall/">Installatielijst</a></li>
                        {% if session.user is defined %}<li><a href="/mvcframework/auth/logout/">Log out</a></li>{% else %}<li><a href="/mvcframework/auth/go/">Log in</a></li>{% endif %}
                    </ul>
                </nav>
            </div>
            <!--end of nav row-->
            <div class="row">
                
            </div>
            <!--end of form row-->
        </div>
        <!--end of container-->
    </body>
</html>
